body{
  background-image: url(images/confetti-pic.webp);
  text-align: center;
}

div {
  background: rgba(199, 226, 199, 0.9); /* Green background with 30% opacity */
  padding: 150px 20px;
}

#demo{
  background: -webkit-linear-gradient(45deg, #ff0000 0%, #ffff00 16.67%, #00ff00 33.33%, #00ffff 50%, #0000ff 66.67%, #ff00ff 83.33%, #ff0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
